<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
  <style>
    body {
      box-sizing: border-box;
      font-size: 14px;
      font-family: sans-serif;
      width: 960px;
    }
    #viz {
      position: relative;
      width: 960px;
      height: 380px;
    }
    h2 {
      text-align: center;
    }
    h3 {
      text-align: center;
      margin: 0 0 12px;
    }
    .col {
      width: 320px;
      float: left;
    }
    ul {
      padding: 0;
      padding-left: 6px;
      margin: 0;
    }
    li {
      list-style: none;
      line-height: 30px;
    }
    .content {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
    }
    svg {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      width: 100%;
      height: 360px;
    }
    svg path {
      fill: none;
      stroke-width: 24px;
    }
    path.green {
      stroke: rgba(20,117,58,0.30);
    }
    path.red {
      stroke: rgba(187,37,40,0.30);
    }
    path.grey {
      stroke: rgba(100,100,100,0.25);
    }
    .fade {
      clear: both;
      width: 100%;
      height: 60px;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
      z-index: 100;
    }
    p {
      font-size: 10px;
      text-align: right;
    }
  </style>
</head>
<body>
  <h2>Christmas Song Artist Play-Count Ranking by Year</h2>
  <div id="viz">
    <svg id="flow" xmlns="http://www.w3.org/2000/svg" viewBox="0 5 100 119" preserveAspectRatio="none">
      <defs>
        <linearGradient id="green" x1="0" x2="0" y1="0" y2="1">
          <stop stop-color="rgba(20,107,58,0.30)" offset="0" />
          <stop stop-color="rgba(20,107,58,0.30)" offset="0.2" />
          <stop stop-color="rgba(100,100,100,0)" offset="1" />
        </linearGradient>
        <linearGradient id="red" x1="0" x2="0" y1="0" y2="1">
          <stop stop-color="rgba(187,37,40,0.30)" offset="0" />
          <stop stop-color="rgba(187,37,40,0.30)" offset="0.2" />
          <stop stop-color="rgba(100,100,100,0)" offset="1" />
        </linearGradient>
      </defs>
      <g></g>
    </svg>
    <div class="content">
      <div class="col" id="col-1"></div>
      <div class="col" id="col-2"></div>
      <div class="col" id="col-3"></div>
      <div class="fade"></div>
    </div>
  </div>
  <p>Songs played on Toronto's CHFI All-Christmas radio station in the two weeks prior to Christmas</p>

<script>
var songs2019 = [
{'rank': 1, 'song_title_id': 'winterwonderland', 'count': 59, 'song_title': 'Winter Wonderland', 'artists': [('Air Supply', 1), ('Amy Grant', 3), ('Aretha Franklin', 3), ('Chantal Kreviazuk', 3), ('Dean Martin', 1), ('Eurythmics', 16), ('Gwen Stefani', 2), ('John Legend', 1), ('Leona Lewis', 2), ('Matt Dusk', 1), ('Michael Buble', 1), ('Roch Voisine', 3), ('Sarah McLachlan', 2), ('Shaye', 3), ('Tony Bennett', 17)]},
{'rank': 2, 'song_title_id': 'itsthemostwonderfultimeoftheyear', 'count': 50, 'song_title': "It's the Most Wonderful Time of the Year", 'artists': [('Amy Grant', 3), ('Andy Williams', 21), ('Jann Arden', 6), ('Johnny Mathis', 15), ('Lea Michele', 3), ('Matt Dusk', 2)]},
{'rank': 3, 'song_title_id': 'letitsnow', 'count': 47, 'song_title': 'Let It Snow', 'artists': [('Aaron Neville', 3), ('Carly Rae Jepsen', 5), ('Dean Martin', 19), ('Frank Sinatra', 3), ('Gloria Estefan', 2), ('Harry Connick. Jr.', 3), ('Rankin, Heather, Cookie & Raylene', 7), ('SEAL', 1), ('Sarah McLachlan', 3), ('Serena Ryder', 1)]},
{'rank': 4, 'song_title_id': 'santaclausiscomingtotown', 'count': 47, 'song_title': 'Santa Claus Is Coming To Town', 'artists': [('Bruce Springsteen', 3), ('Frank Sinatra & Cyndi Lauper', 18), ('Gwen Stefani', 2), ('James Taylor', 1), ('Jessie J', 3), ('Mariah Carey', 2), ('Michael Bublé', 1), ('Pentatonix', 2), ('The Pointer Sisters', 15)]},
{'rank': 5, 'song_title_id': 'haveyourselfamerrylittlechristmas', 'count': 46, 'song_title': 'Have Yourself A Merry Little Christmas', 'artists': [('Ali Slaight & Theo Tams', 5), ('Amanda Stott', 3), ('Barbara Streisand', 3), ('Blue Rodeo', 5), ('Carpenters', 3), ('Christina Aguilera', 3), ('Colbie Caillat', 3), ('David Archuleta', 3), ('Frank Sinatra', 2), ('James Taylor', 2), ('Luther Vandross', 2), ('Matt Dusk', 1), ('Sam Smith', 5), ('The Tenors', 1), ('Train', 3), ('Victoria Duffield', 2)]},
{'rank': 6, 'song_title_id': 'sleighride', 'count': 45, 'song_title': 'Sleigh Ride', 'artists': [('Amy Grant', 2), ('Carpenters', 1), ('Debbie Gibson', 1), ('Ella Fitzgerald', 3), ('Harry Connick, Jr.', 1), ('Johnny Mathis', 3), ('KT Tunstall', 1), ('Leroy Anderson', 12), ('Pentatonix', 4), ('Roch Voisine', 2), ('The Ronettes', 15)]},
{'rank': 7, 'song_title_id': 'whitechristmas', 'count': 44, 'song_title': 'White Christmas', 'artists': [('Anne Murray', 3), ('Bing Crosby', 20), ('Gwen Stefani', 2), ('Josh Groban', 4), ('Lara Fabian', 2), ('Michael Buble', 5), ('Roch Voisine', 2), ('Serena Ryder', 1), ('Tony Bennett', 5)]},
{'rank': 8, 'song_title_id': 'jinglebellrock', 'count': 43, 'song_title': 'Jingle Bell Rock', 'artists': [('Amy Grant', 3), ('Bobby Helms', 20), ('Hall & Oates', 14), ('Serena Ryder', 6)]},
{'rank': 9, 'song_title_id': 'thechristmassong', 'count': 38, 'song_title': 'The Christmas Song', 'artists': [('Al Jarreau', 1), ('Carpenters', 3), ('Jann Arden', 5), ('Luther Vandross', 3), ('Matt Dusk', 2), ('Nat "King" Cole', 16), ('SEAL', 1), ('Sarah McLachlan', 4), ('Serena Ryder', 1), ('Sheryl Crow', 1), ('Stevie Wonder', 1)]},
{'rank': 10, 'song_title_id': 'christmasbabypleasecomehome', 'count': 36, 'song_title': 'Christmas (Baby Please Come Home)', 'artists': [('Andee', 4), ('Lady Antebellum', 1), ('Leona Lewis', 3), ('Mariah Carey', 18), ('Michael Bublé', 3), ('Robbie Williams', 3), ('U2', 4)]}
];
var artists2019 = [
{'rank': 1, 'artist': 'Mariah Carey', 'count': 45, 'song_title': 'Christmas (Baby Please Come Home)'},
{'rank': 2, 'artist': 'Dean Martin', 'count': 42, 'song_title': 'Let It Snow'},
{'rank': 3, 'artist': 'Andy Williams', 'count': 41, 'song_title': "It's the Most Wonderful Time of the Year"},
{'rank': 4, 'artist': 'Michael Bublé', 'count': 41, 'song_title': "It's Beginning To Look a Lot Like Christmas"},
{'rank': 5, 'artist': 'Carpenters', 'count': 35, 'song_title': 'The Christmas Song'},
{'rank': 6, 'artist': 'Pentatonix', 'count': 34, 'song_title': 'Away In a Manger'},
{'rank': 7, 'artist': 'Jann Arden', 'count': 32, 'song_title': "It's the Most Wonderful Time of the Year"},
{'rank': 8, 'artist': 'Bing Crosby', 'count': 31, 'song_title': 'White Christmas'},
{'rank': 9, 'artist': 'Serena Ryder', 'count': 31, 'song_title': 'Christmas Kisses'},
{'rank': 10, 'artist': 'Matt Dusk', 'count': 29, 'song_title': 'Cool Yule'}
];
var songs2018 = [
{'rank': 1, 'song_title_id': 'winterwonderland', 'count': 154, 'song_title': 'Winter Wonderland', 'artists': [('Air Supply', 3), ('Amy Grant', 7), ('Aretha Franklin', 2), ('Dean Martin', 3), ('Eurythmics', 47), ('Gwen Stefani', 10), ('John Legend', 5), ('Leona Lewis', 8), ('Matt Dusk', 8), ('Michael Buble', 4), ('Roch Voisine', 3), ('Sarah McLachlan', 5), ('Shaye', 9), ('Take Three', 4), ('Tony Bennett', 36)]},
{'rank': 2, 'song_title_id': 'sleighride', 'count': 148, 'song_title': 'Sleigh Ride', 'artists': [('Amy Grant', 9), ('Carpenters', 5), ('Debbie Gibson', 12), ('Ella Fitzgerald', 4), ('Harry Connick, Jr.', 9), ('Johnny Mathis', 7), ('KT Tunstall', 2), ('Leroy Anderson', 27), ('Pentatonix', 7), ('Roch Voisine', 11), ('The Ronettes', 55)]},
{'rank': 3, 'song_title_id': 'letitsnow', 'count': 131, 'song_title': 'Let It Snow', 'artists': [('Aaron Neville', 8), ('Carly Rae Jepsen', 11), ('Dean Martin', 36), ('Frank Sinatra', 7), ('Gloria Estefan', 11), ('Harry Connick. Jr.', 8), ('Michael Buble', 2), ('Rankin, Heather, Cookie & Raylene', 19), ('SEAL', 16), ('Sarah McLachlan', 11), ('Serena Ryder', 2)]},
{'rank': 4, 'song_title_id': 'christmasbabypleasecomehome', 'count': 127, 'song_title': 'Christmas (Baby Please Come Home)', 'artists': [('Andee', 5), ('Lady Antebellum', 9), ('Leona Lewis', 9), ('Mariah Carey', 52), ('Melissa Etheridge', 11), ('Michael Bublé', 3), ('U2', 38)]},
{'rank': 5, 'song_title_id': 'santaclausiscomingtotown', 'count': 126, 'song_title': 'Santa Claus Is Coming to Town', 'artists': [('Bruce Springsteen', 9), ('Frank Sinatra & Cyndi Lauper', 50), ('Gwen Stefani', 8), ('James Taylor', 5), ('Jessie J', 10), ('Michael Bublé', 2), ('Pentatonix', 6), ('The Crystals', 1), ('The Pointer Sisters', 35)]},
{'rank': 6, 'song_title_id': 'haveyourselfamerrylittlechristmas', 'count': 118, 'song_title': 'Have Yourself A Merry Little Christmas', 'artists': [('Ali Slaight & Theo Tams', 8), ('Amanda Stott', 6), ('Amy Grant', 1), ('Barbara Streisand', 5), ('Blue Rodeo', 14), ('Christina Aguilera', 10), ('Colbie Caillat', 11), ('David Archuleta', 8), ('Frank Sinatra', 4), ('James Taylor', 6), ('John Legend', 8), ('Kenny Loggins', 5), ('Luther Vandross', 4), ('Matt Dusk', 3), ('Michael Bublé', 1), ('Sam Smith', 9), ('The Tenors', 4), ('Train', 5), ('Victoria Duffield', 6)]},
{'rank': 7, 'song_title_id': 'thechristmassong', 'count': 116, 'song_title': 'The Christmas Song', 'artists': [('Al Jarreau', 5), ('Carpenters', 5), ('Jann Arden', 14), ('Luther Vandross', 7), ('Matt Dusk', 6), ('Michael Buble', 3), ('Nat "King" Cole', 41), ('SEAL', 10), ('Sarah McLachlan', 13), ('Serena Ryder', 2), ('Sheryl Crow', 10)]},
{'rank': 8, 'song_title_id': 'whitechristmas', 'count': 116, 'song_title': 'White Christmas', 'artists': [('Anne Murray', 8), ('Bing Crosby', 48), ('Gwen Stefani', 13), ('Jessie J', 4), ('Josh Groban', 11), ('Lara Fabian', 7), ('Michael Buble Ft Shania Twain', 10), ('Roch Voisine', 5), ('Sarah McLachlan', 1), ('Serena Ryder', 3), ('Tony Bennett', 6)]},
{'rank': 9, 'song_title_id': 'itsbeginningtolookalotlikechristmas', 'count': 113, 'song_title': "It's Beginning To Look A Lot Like Christmas", 'artists': [('Bing Crosby', 16), ('Jann Arden', 17), ('Johnny Mathis', 14), ('Michael Bublé', 53), ('Pentatonix', 9), ('Perry Como', 4)]},
{'rank': 10, 'song_title_id': 'doyouhearwhatihear', 'count': 107, 'song_title': 'Do You Hear What I Hear', 'artists': [('Ali Slaight & Theo Tams', 12), ('Bing Crosby', 1), ('Idina Menzel', 17), ('Jordin Sparks', 11), ('Matt Dusk', 17), ('Whitney Houston', 49)]}
];
var artists2018 = [
{'rank': 1, 'artist': 'Mariah Carey', 'count': 115, 'song_title': 'Christmas (Baby Please Come Home)'},
{'rank': 2, 'artist': 'Michael Bublé', 'count': 105, 'song_title': "It's Beginning To Look a Lot Like Christmas"},
{'rank': 3, 'artist': 'Andy Williams', 'count': 88, 'song_title': "It's the Most Wonderful Time of the Year"},
{'rank': 4, 'artist': 'Pentatonix', 'count': 87, 'song_title': 'Hallelujah'},
{'rank': 5, 'artist': 'Jann Arden', 'count': 82, 'song_title': 'The Christmas Song'},
{'rank': 6, 'artist': 'Matt Dusk', 'count': 80, 'song_title': 'Winter Wonderland'},
{'rank': 7, 'artist': 'Carpenters', 'count': 77, 'song_title': 'Home For The Holidays'},
{'rank': 8, 'artist': 'Kelly Clarkson', 'count': 72, 'song_title': 'Christmas Eve'},
{'rank': 9, 'artist': 'Bing Crosby', 'count': 71, 'song_title': "It's Beginning To Look A Lot Like Christmas"},
{'rank': 10, 'artist': 'Sarah McLachlan', 'count': 71, 'song_title': "Song for a Winter's Night"}
];
var songs2017 = [
{'rank': 1, 'song_title_id': 'winterwonderland', 'count': 68, 'song_title': 'Winter Wonderland', 'artists': [('Air Supply', 3), ('Amy Grant', 3), ('Aretha Franklin', 2), ('Dean Martin', 3), ('Eurythmics', 19), ('John Legend', 4), ('Leona Lewis', 3), ('Matt Dusk', 2), ('Michael Buble', 4), ('Roch Voisine', 2), ('Sarah McLachlan', 4), ('Shaye', 3), ('Take Three', 1), ('Tony Bennett', 15)]},
{'rank': 2, 'song_title_id': 'haveyourselfamerrylittlechristmas', 'count': 62, 'song_title': 'Have Yourself A Merry Little Christmas', 'artists': [('Ali Slaight & Theo Tams', 8), ('Amanda Stott', 3), ('Amy Grant', 2), ('Blue Rodeo', 7), ('Carpenters', 1), ('Christina Aguilera', 2), ('Colbie Caillat', 4), ('David Archuleta', 3), ('Frank Sinatra', 5), ('James Taylor', 3), ('Kenny Loggins', 1), ('Matt Dusk', 1), ('Michael Bublé', 2), ('Sam Smith', 6), ('The Tenors', 4), ('Train', 5), ('Victoria Duffield', 5)]},
{'rank': 3, 'song_title_id': 'christmasbabypleasecomehome', 'count': 58, 'song_title': 'Christmas (Baby Please Come Home)', 'artists': [('Andee', 4), ('Lady Antebellum', 5), ('Leona Lewis', 5), ('Mariah Carey', 21), ('Melissa Etheridge', 2), ('Michael Bublé', 2), ('U2', 19)]},
{'rank': 4, 'song_title_id': 'santaclausiscomingtotown', 'count': 58, 'song_title': 'Santa Claus Is Coming to Town', 'artists': [('Bruce Springsteen', 6), ('Frank Sinatra & Cyndi Lauper', 21), ('James Taylor', 4), ('Mariah Carey', 4), ('Pentatonix', 6), ('The Pointer Sisters', 17)]},
{'rank': 5, 'song_title_id': 'letitsnow', 'count': 53, 'song_title': 'Let It Snow', 'artists': [('Aaron Neville', 2), ('Boyz II Men', 1), ('Carly Rae Jepsen', 4), ('Frank Sinatra', 14), ('Gloria Estefan', 5), ('Harry Connick. Jr.', 5), ('Rankin, Heather, Cookie & Raylene', 11), ('SEAL', 2), ('Sarah McLachlan', 9)]},
{'rank': 6, 'song_title_id': 'doyouhearwhatihear', 'count': 51, 'song_title': 'Do You Hear What I Hear?', 'artists': [('Ali Slaight & Theo Tams', 6), ('Bing Crosby', 2), ('Idina Menzel', 6), ('Jordin Sparks', 2), ('Matt Dusk', 8), ('Whitney Houston', 27)]},
{'rank': 7, 'song_title_id': 'itsbeginningtolookalotlikechristmas', 'count': 51, 'song_title': "It's Beginning to Look a Lot Like Christmas", 'artists': [('Bing Crosby', 20), ('Jann Arden', 6), ('Johnny Mathis', 6), ('Michael Bublé', 17), ('Noah Cyrus', 2)]},
{'rank': 8, 'song_title_id': 'itsthemostwonderfultimeoftheyear', 'count': 51, 'song_title': "It's the Most Wonderful Time of the Year", 'artists': [('Amy Grant', 6), ('Andy Williams', 21), ('Jann Arden', 5), ('Johnny Mathis', 17), ('Matt Dusk', 2)]},
{'rank': 9, 'song_title_id': 'illbehomeforchristmas', 'count': 49, 'song_title': "I'll Be Home For Christmas", 'artists': [('Adam Gregory', 6), ('Ali & Theo', 9), ('Amy Grant', 3), ('Bing Crosby', 3), ('Darius Rucker', 4), ('Frank Sinatra', 3), ('Joee', 7), ('Jordan Smith', 3), ('Sheryl Crow', 5), ('The Tenors', 6)]},
{'rank': 10, 'song_title_id': 'whitechristmas', 'count': 49, 'song_title': 'White Christmas', 'artists': [('Anne Murray', 4), ('Bing Crosby', 18), ("Destiny's Child", 2), ('Gwen Stefani', 3), ('Josh Groban', 3), ('Lara Fabian', 5), ('Michael Buble Ft Shania Twain', 6), ('Roch Voisine', 3), ('Tony Bennett', 5)]}
];
var artists2017 = [
{'rank': 1, 'artist': 'Mariah Carey', 'count': 60, 'song_title': 'Christmas (Baby Please Come Home)'},
{'rank': 2, 'artist': 'Michael Bublé', 'count': 48, 'song_title': 'All I Want For Christmas Is You'},
{'rank': 3, 'artist': 'Pentatonix', 'count': 47, 'song_title': 'Santa Claus Is Coming To Town'},
{'rank': 4, 'artist': 'Bing Crosby', 'count': 43, 'song_title': "It's Beginning to Look a Lot Like Christmas"},
{'rank': 5, 'artist': 'Andy Williams', 'count': 41, 'song_title': 'Hark The Herald Angels Sing'},
{'rank': 6, 'artist': 'Carpenters', 'count': 39, 'song_title': 'Home For The Holidays'},
{'rank': 7, 'artist': 'Sarah McLachlan', 'count': 38, 'song_title': "Song for a Winter's Night"},
{'rank': 8, 'artist': 'Frank Sinatra', 'count': 36, 'song_title': 'Let It Snow'},
{'rank': 9, 'artist': 'The Tenors', 'count': 36, 'song_title': "I'll Be Home for Christmas"},
{'rank': 10, 'artist': 'Matt Dusk', 'count': 35, 'song_title': 'Winter Wonderland'}
];

// Add year
_.forEach(artists2017, function(s) { 
  s.index = 0;
});
_.forEach(artists2018, function(s) { 
  s.index = 1;
});
_.forEach(artists2019, function(s) { 
  s.index = 2;
});

var titleTemplate = 
  '<h3><%= year %></h3>' + 
  '<ul>' +
  '<% _.forEach(items, function(item) { %>' +
    '<li><%= item.artist %></li>' +
  '<% }); %>' +
  '</ul>';

var makeTitles = _.template(titleTemplate);

document.querySelector('#col-1').innerHTML = makeTitles({
  year: '2017',
  items: artists2017
});
document.querySelector('#col-2').innerHTML = makeTitles({
  year: '2018',
  items: artists2018
});
document.querySelector('#col-3').innerHTML = makeTitles({
  year: '2019',
  items: artists2019
});


var flowTemplate = 
  '<% _.forEach(flows, function(flow) { %>' +
    '<% if (flow.rank[0] > 10) { %>' +
      '<% if (flow.rank[1] > 10) { %>' +
        '<path stroke="url(#<%= flow.clazz %>)" vector-effect="non-scaling-stroke" d="' + 
          'M 65,<%= flow.rank[2]*10+7 %> ' +
          'C 65,<%= flow.rank[2]*10 %> 66,<%= flow.rank[2]*10 %> 66,<%= flow.rank[2]*10 %>"/>' +
        '<path class="<%= flow.clazz %>" vector-effect="non-scaling-stroke" d="' + 
          'M 66,<%= flow.rank[2]*10 %> ' +
          'L 100,<%= flow.rank[2]*10 %>"/>' +
      '<% } else { %>' +
        '<path stroke="url(#<%= flow.clazz %>)" vector-effect="non-scaling-stroke" d="' + 
          'M 32,<%= flow.rank[1]*10+7 %> ' +
          'C 32,<%= flow.rank[1]*10 %> 33,<%= flow.rank[1]*10 %> 33,<%= flow.rank[1]*10 %>"/>' +
        '<path class="<%= flow.clazz %>" vector-effect="non-scaling-stroke" d="' + 
          'M 33,<%= flow.rank[1]*10 %> ' +
          'L 59,<%= flow.rank[1]*10 %> ' +
          'C 62.5,<%= flow.rank[1]*10 %> 62.5,<%= flow.rank[2]*10 %> 66,<%= flow.rank[2]*10 %> ' +
          'L 100,<%= flow.rank[2]*10 %>"/>' +
      '<% } %>' +
    '<% } else { %>' +
      '<% if (flow.rank[1] > 10 && flow.rank[2] > 10) { %>' +
        '<path class="<%= flow.clazz %>" vector-effect="non-scaling-stroke" d="' + 
          'M0,<%= flow.rank[0]*10 %> L 26,<%= flow.rank[0]*10 %>"/>' +
        '<path stroke="url(#<%= flow.clazz %>)" vector-effect="non-scaling-stroke" d="' + 
          'M26,<%= flow.rank[0]*10 %> C 28,<%= flow.rank[0]*10 %> 28,<%= flow.rank[0]*10+7 %> 28,<%= flow.rank[0]*10+7 %>"/>' +
      '<% } else if (flow.rank[2] > 10) { %>' +
        '<path class="<%= flow.clazz %>" vector-effect="non-scaling-stroke" d="M0,<%= flow.rank[0]*10 %> ' + 
          'L 26,<%= flow.rank[0]*10 %>' +
          'C 29.5,<%= flow.rank[0]*10 %> 29.5,<%= flow.rank[1]*10 %> 33,<%= flow.rank[1]*10 %> ' +
          'L 60,<%= flow.rank[1]*10 %>"/>' +
        '<path stroke="url(#<%= flow.clazz %>)" vector-effect="non-scaling-stroke" d="' + 
          'M60,<%= flow.rank[1]*10 %> C 62,<%= flow.rank[1]*10 %> 62,<%= flow.rank[1]*10+7 %> 62,<%= flow.rank[1]*10+7 %>"/>' +
      '<% } else { %>' +
        '<path class="<%= flow.clazz %>" vector-effect="non-scaling-stroke" d="M0,<%= flow.rank[0]*10 %> ' + 
          'L 26,<%= flow.rank[0]*10 %>' +
          'C 29.5,<%= flow.rank[0]*10 %> 29.5,<%= flow.rank[1]*10 %> 33,<%= flow.rank[1]*10 %> ' +
          'L 59,<%= flow.rank[1]*10 %> ' +
          'C 62.5,<%= flow.rank[1]*10 %> 62.5,<%= flow.rank[2]*10 %> 66,<%= flow.rank[2]*10 %> ' +
          'L 100,<%= flow.rank[2]*10 %>"/>' +
      '<% } %>' +
    '<% } %>' +
  '<% }); %>';
var makeFlows = _.template(flowTemplate);
//d="M0,100 C 30,100 20,200 50,200"

var allartists = [].concat(artists2017, artists2018, artists2019);
var flows = _.map(_.groupBy(allartists, 'artist'), function(value, key) {
  var ranks = [
    _.find(value, {index: 0}),
    _.find(value, {index: 1}),
    _.find(value, {index: 2}),
  ];
  return {
    id: key,
    song_title: value[0].song_title,
    rank: _.map(ranks, function(r) { return r && r.rank }),
    values: value
  };
});
_.forEach(flows, function(flow) {
  var delta = (flow.rank[2] == null && flow.rank[0] == null) ? 20 : (flow.rank[2] || flow.rank[1] || 20) - (flow.rank[0] || flow.rank[1]);
  flow.clazz = delta > 0 ? 'red' : delta === 0 ? 'grey' : 'green';
  flow.rank = _.map(flow.rank, function(r) { return r || 12 });
});
console.log(flows);

document.querySelector('#flow g').innerHTML = makeFlows({flows: flows});

</script>
</body>
</html>